@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #88ABff;
}

.wrapper {
    margin: 50px;
    display: grid;
    gap: 15px;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-rows: repeat(auto, 265px);
}

.wrapper ul {
    background: white;
    list-style: none;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    padding: 15px 20px 20px;
}
.add-box, .icon, .bottom-content, 
.settings .menu li {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}
.add-box {
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.add-box .icon {
    height: 78px;
    width: 78px;
    color: #88ABff;
    justify-content: center;
    font-size: 48px;
    border-radius: 50%;
    border: 2px dashed #88ABff;
}

.add-box p {
    color: #88ABff;
    font-weight: 500;
    margin-top: 20px;
}
.wrapper .note {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.note p {
    font-size: 22px;
    font-weight: 500;
}

.note span {
    color: #575757;
    font-size: 16px;
    margin-top: 5px;
    display: block;
}

.note .bottom-content {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    position: absolute;
    margin-left: 220px;
}

.bottom-content span {
    color: #6d6d6d;
    font-size: 14px;
    
}

.bottom-content .settings i {
    color: #6d6d6d;
    font-size: 14px;
    cursor: pointer;
}
.settings {
    position: relative;
}
.settings .menu  {
    box-shadow: 0 0 6px rgba(0, 0 ,0 , 0.15);
    position: absolute;
    border-radius: 4px;
    padding: 5px 0;
    bottom: 0;
    background: white;
    transform: scaleX(0);
    right: -5px;
    transition: transform 0.2s ease;
}
.settings:hover .menu {
    transform: scaleX(1);
} 
.settings .menu li  {
    height: 25px;
    font-size: 15px;
    border-radius: 0;
    padding: 17px 15px;
    cursor: pointer
    justify-content: flex-start;
}
.menu li:hover {
    background: #f5f5f5;
}
.menu li i {
    padding-right: 8px;

}