@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #88ABff;
}

.wrapper {
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}

.wrapper ul {
    background: white;
    list-style: none;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    padding: 15px 20px 20px;
}
.add-box, .icon, .bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-box {
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.add-box .icon {
    height: 78px;
    width: 78px;
    color: #88ABff;
    justify-content: center;
    font-size: 48px;
    border-radius: 50%;
    border: 2px dashed #88ABff;
}

.add-box p {
    color: #88ABff;
    font-weight: 500;
    margin-top: 20px;
}
.wrapper .note {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.note p {
    font-size: 22px;
    font-weight: 500;
}

.note span {
    color: #575757;
    font-size: 16px;
    margin-top: 5px;
    display: block;
}

.note .bottom-content {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}